/* Structure */
.emp-data-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 4%;
  max-width: 90%;
  margin-left: 4%;
  max-height: 72vh;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
  float: right;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.header-align-right {
  align-items: right;
  justify-content: right;
}

mat-header-row {
  position: sticky;
  top: 0;
}

.emp-table-header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 3vh;
}
