<div class="emp-data-container mat-elevation-z8">
  <h1 class="emp-table-header">Employee</h1>
  <div class="emp-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell class="header-align-right cell-data" *matHeaderCellDef>
        Id
      </mat-header-cell>
      <mat-cell
        class="header-align-right cell-data"
        [ngClass]="filterValue.length > 0 ? 'highlight-cell' : null"
        *matCellDef="let element"
      >
        {{ element.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="cell-data">
        Name
      </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        [ngClass]="filterValue.length > 0 ? 'highlight-cell' : null"
        class="cell-data"
      >
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell
        class="header-align-right cell-data cell-data"
        *matHeaderCellDef
      >
        Age
      </mat-header-cell>
      <mat-cell
        class="header-align-right cell-data"
        *matCellDef="let element"
        [ngClass]="filterValue.length > 0 ? 'highlight-cell' : null"
      >
        {{ element.age }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef class="cell-data">
        Address
      </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        [ngClass]="filterValue.length > 0 ? 'highlight-cell' : null"
        class="cell-data"
      >
        {{ element.address }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
