<div class="emp-data-container mat-elevation-z8">
  <h1 class="emp-table-header">Employee</h1>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell class="header-align-right" *matHeaderCellDef>
        Id
      </mat-header-cell>
      <mat-cell class="header-align-right" *matCellDef="let element">
        {{ element.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell class="header-align-right" *matHeaderCellDef>
        Age
      </mat-header-cell>
      <mat-cell class="header-align-right" *matCellDef="let element">
        {{ element.age }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.address }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
