<div class="container">
  <app-header></app-header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>This is the nav</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 70vh">
        <p>Main content</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="SideNav">
    <app-header></app-header>
  </div>

  <div class="content"></div>

  <app-footer></app-footer>
</div>
