.sideNavContainer {
  background: #e8e9eb;
  height: 100%;
  z-index: -1;
}

.sidenavItem {
  border-bottom: 1px solid #adaeaf;
}

.sidenavItem:hover {
  background-color: #a2a2d1;
}

.sidenavItem-last-element:hover {
  background-color: #a2a2d1;
}

.emp-data-grid {
  height: 80vh;
}
